@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.home {
    font-family: 'Roboto', sans-serif;
}
header {
    font-family: 'Roboto', sans-serif;
    background-color: #EAC926;
    text-align: center;
    height: 230px;
    font-size: 12px;
    padding: 10px;
}

header .logo {
    text-align: left;
}

div#buscador {
    text-align: left;
}
span.caja {
    background-color: #03264C;
    padding: 10px;
    border-radius: 5px;
    margin-top: 25px;
}

.menu {
    margin-top: 25px;
}

ul {
    text-align: justify;
    font-family: 'Roboto', sans-serif;
}
article {
    background-color: white;
    margin-bottom: 10px;
}
p#truck {
    float: right;

}
p#off {
    color: #39b54a;;
    font-weight: 700;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin-top: 0;
}

body {
    background-color: #ebebeb;
}

body main h2 {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

body main {
    text-align: center;
    font-size: 90%;
}

body main .banner {
    display: block;
    width: 100%;
}


body main section article .caja {
    border-top: 1px solid #ebebeb;
    text-align: left;
    padding: 15px;
}

p.precio {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
}

p.descripcion {
    display: none;
}


ul.icon a.icono {
    color: black;
}

ul.icon {
    display: none;
}

a.cajita {
    color: white;
}

footer {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    text-align: center;
    font-size: 12px;
    height: 350px;
    margin-top: 10px;
    padding: 40px;
}

footer section h4 {
    margin: 10px;
    margin-bottom: -10px;
    font-family: 'Roboto', sans-serif;
}
footer section a.seg {
    margin-bottom: 5px;
    background-size: 2em;
    color: #1259c3;
    font-size: 2em
}
footer p.texto {
    font-family: 'Roboto', sans-serif;
}

p.copy {
    font-size: 12px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    margin-left: -30px;
}

@media (min-width : 361px){
    span.caja{
        display: none;
    }
    p.descripcion {
        display: contents;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
    }
    ul.icon {
        display: contents;
        list-style: none;
        padding: 5px;
    }
    .box {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

  
}

@media (min-width : 769px){
    span.caja{
        display: none;
    }
    p.descripcion {
        display: contents;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
    }
    ul.icon {
        display: contents;
        list-style: none;
        padding: 5px;
    }
}